.header {
  position: sticky;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  top: 0;
  z-index: 100;
}

.logo a {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}

.navbar {
  display: flex;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.nav-item a:hover {
  color: steelblue;
}

.nav-item:last-child {
  margin-right: 0;
}
