:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a,
ul,
li {
  text-decoration: none;
  list-style: none;
}
.screen-size {
  max-width: 1200px;
  margin: 0 auto;
}
